<h1><%= t 'title.edit' %></h1>

<%= form_for @task do |f| %>

  <p>
    <%= f.label :name, t('label.task_name')%> <br>
    <% if @task.errors.any? %>
      <%= @task.errors.messages[:name][0] %>
    <% end %>
    <%= f.text_field :name %> <br>

    <% if @task.errors.any? %>
      <%= @task.errors.messages[:name][0] %>
    <% end %>

  </p>

  <p>
    <%= f.label :name, t('label.description')%> <br>
    <% if @task.errors.any? %>
      <%= @task.errors.messages[:detail][0] %>
    <% end %>
    <%= f.text_field :detail %> <br>

    <% if @task.errors.any? %>
      <%= @task.errors.messages[:detail][0] %>
    <% end %>

  </p>

  <p>
    <%= f.submit %> <br>
  </p>

<% end %>