<h1><%= t 'title.index' %></h1>
<!--<p>Find me in app/views/task/index.html.erb</p>-->
<% if flash[:notice] %>
  <div>
    <p><%= flash[:notice] %></p>
  </div><br>
<% end %>

<p>タスク名/説明文検索</p>
<%= form_tag(task_index_path, method: "get") do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search' %>
<% end %><br>

<% if @params %>
  <p>
    <%= @params %>
    の検索結果です。</p>
  <% end %><br>


<table border="1">
  <tr>
    <th>ユーザ名</th>
    <th><%= t 'label.task_name' %></th>
    <!--<th>期限</th>-->
    <th><%=  '優先度' %></th>
    <!--# sort_link(@q, :priority,-->
    <th>
    <%= 'ステータス' %>
    </th>
    <th><%= t 'label.description' %></th>
    <th></th>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td>
        <%= task.user.username %>
      </td>
      <td>
        <%= link_to task.name, task_path(task.id) %>
      </td>
      <td>
        <%= task.priority %>
      </td>
      <td>
        <%= task.status %>
      </td>
      <td>
        <%= task.detail %>
      </td>
      <td>
        <%= link_to "編集", edit_task_path(task.id) %>
      </td>
      <td>
        <%= link_to "削除", task_path(task.id), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>
      </td>
    </tr>
  <% end %>
</table>
<br>

<%= paginate @tasks %>

<p><%= link_to t('title.add_new_task'), new_task_path %></p>

<div>
  <%= link_to 'ログアウト', logout_path, :method => :delete %>
</div>