<h1><%= t 'title.add_new_task' %></h1>

<%= form_for @task, :url => { :controller => :task, :action => :create } do |f| %>


    <%= f.label :name, t('label.name') %> <br>
    <%= f.text_field :name %> <br>
    <% if @task.errors.any? %>
    <%= @task.errors.messages[:name][0] %>
    <% end %>

  <%= f.label :period, t('label.period_end_on') %> <br>


    <%= f.label :detail, t('label.description') %> <br>
    <%= f.text_area :detail %> <br>
    <% if @task.errors.any? %>
    <%= @task.errors.messages[:detail][0] %>
    <% end %>

  <%= f.label :"優先度" %><br>
  <%= f.select :priority, [["高", "high"], ["中", "middle"], ["下", "low"]] %>
  <br><br>
  <%= f.label :"ステータス" %><br>
  <%= f.select :status, [["未完了", "yet_complete"], ["着手中", "under_correspond"], ["完了", "complete"]] %>
  <br><br>
    <%= f.submit "Send" %> <br>

<% end %>