<h1><%= t 'title.add_new_task' %></h1>

<%= form_for @task, :url => { :controller => :task, :action => :create } do |f| %>

  <p>
    <%= f.label :name, t('label.name') %> <br>
    <%= f.text_field :name %> <br>
    <% if @task.errors.any? %>
    <%= @task.errors.messages[:name][0] %>
    <% end %>
      </p>

  <p>
    <%= f.label :detail, t('label.description') %> <br>
    <%= f.text_area :detail %> <br>
    <% if @task.errors.any? %>
    <%= @task.errors.messages[:detail][0] %>
    <% end %>
  </p>

  <p>
    <%= f.submit "Send" %> <br>
  </p>

<% end %>